#include "../non_trackball.overlay"

// 特定のデバイスだけでなく、全てのマウスの動きに強制反応させる
&peripheral_listener {
    status = "okay";
    
    // カーソル移動量はOS側で調整するため、scalerは削除
    input-processors = <&zip_temp_layer 4 700>;

    scroller {
        layers = <5>;
        // スクロール速度を現在の 50% に減速（1/16 × 1/2 = 1/32）
        input-processors = 
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_scaler 1 32>;
    };
};